<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
    <h1>Hello , Welcome to the Secret Zone </h1>
    <h3>Only those can access the zone who has the correct keys to it !!</h3>
    <br>
    <a href="/login">To login press here !!</a>
</body>
</html>