<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secret Document</title>
</head>
<style>
    h2{
        color: blueviolet;
    }
    p{
        color:burlywood;
    }
</style>
<body>
    <h2>Welcome to the secret zone</h2>
    {{#if user}}
        <h4> Hi , {{user.name}}</h4>
        
        {{/if}}
    <p>Thanos spaceship was sanctuary</p>
</body>
</html>